
<!-- Sidebar com as mesmas cores -->
<div class="bg-primary text-white p-3">
  <p class="mb-3 fw-bold">Menu lateral:</p>

  <!-- Links do sidebar -->
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link text-white active" aria-current="page" href="admin/carros">
        Carros
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="admin/marcas">
        Marcas
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="admin/acessorios">
        Acessorios
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="login">
        Sair
      </a>
    </li>
  </ul>
</div>
