@use 'mdb-angular-ui-kit/assets/scss/mdb.scss';
@import '@fortawesome/fontawesome-free/css/all.css';


.centralizar {
  text-align: center;
}



.centralizar {
  text-align: center;
}

.direita {
  text-align: right;
}


body {
  background-color: rgb(226,226,226);
}


